.body {
    background-size: cover;
    background-color: rgb(201, 238, 238);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position: center center;
   
}

#block{
   
    background-color: aqua;
    border-radius: 50%;
   
}
#textWeather{
    color: rgba(0, 60, 255, 0.963);
    margin-left: 10mm;
   
}

